<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Stamp duty calculator</title>
    </head>
    <body>
        <h2> Property tax calculator </h2>
        <form enctype="multipart/form-data" action="/" method="post">
            <label for="propertyValue"> Value of property: </label> <br>
            <input type="text" id="propertyValue" name="propertyValue"> <br>
            <label for="taxType" id="taxType">  Choose a tax type: </label>
            <br>
            <select name="taxType">
                <option value="lbbt"> Lbbt (Scottish property tax) </option>"
            </select>
            <br>
            <br>
            <div>
                <input type="submit" id="submitButton" name="submitButton" value="Submit">
            </div>
        </form>

        <div id = "results" th:if="${valueProvided} == true">
            <p>Tax type: <span th:text="${outputTaxType}"></span></p>
            <p>Property value: £<span th:text="${outputPropertyValue}"></span></p>
            <p>Tax payable: £<span th:text="${outputTaxAmount}"></span></p>
        </div>
    </body>
</html>