<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2> Property tax calculator" </h2>
<form enctype="multipart/form-data" action="/" method="post">
    <label for="property-value"> Value of property: </label> <br>
    <input type="text" id="property-value" name="property-value"> <br>
    <label for="tax-type" id="tax-type">  "Choose a tax type: </label>"
    <br>
    <select name="tax-type">
        <option value="lbbt"> Lbbt (Scottish property tax) </option>"
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">"
</form>
</body>
</html>