<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>API registration form</title>
    </head>
    <body>
        <h2> API registration form </h2>

        <form enctype="multipart/form-data" action="/" method="post">
            <label for="emailAddress"> Email address: </label> <br>
            <input type="text" id="emailAddress" name="emailAddress"> <br>
            <p> I agree to the site's the Terms and Conditions.</p>
            <div>
                <input type="submit" id="submitButton" name="submitButton" value="I agree">
            </div>
        </form>

        <div id = "results" th:if="${validEmailProvided}">
            <p>This is your API key: <span th:text="${apiKey}"></span></p>
            <p>Please keep it somewhere safe.</p>
        </div>
    </body>
</html>